


body {
    background-image: url("image7.jpg");
    background-color: #fd0505;
    color: rgb(5, 5, 5);
  font-style: bold;
   
   }
   blockquote {
       border: 1px solid rgb(5, 5, 5);
       color: rgb(7, 5, 5);
       background-color: rgb(250, 249, 249);
   }
 
 
 

