


body {
    background-image: url("image7.jpg");
    background-color: #fd0505;
    color: rgb(5, 5, 5);
  font-style: bold;
   
   }
   blockquote {
       border: 1px solid rgb(5, 5, 5);
       color: rgb(7, 5, 5);
       background-color: rgb(250, 249, 249);
   }
   .nav {
       color: black;
   }
 

a {
	color: rgb(238, 0, 0);
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: rgb(6, 22, 247);
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
 

